<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #01426A;">
  <div class="container-fluid" data-spy="affix">
    <a class="nav1" href="#">Projects</a>
    <a class="nav2" href="#"></a>
    <a class="nav2" href="#">Publications</a>
    <a class="nav2" href="#">People</a>
    <a class="nav3" href="#">Contact Us</a>

    <ul class="nav navbar-nav">
      <div class="navbar-header">
        <a href="{% url 'home'%}"><img class="headLogo" src="/img/iLXL_Logo_nowords.png" alt="Intelligent Learning Experience Lab"></a>
      </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Publications</a></li>
      <li class="nav-item"><a class="nav-link" href="#">People</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>